<!DOCTYPE html>
<html>
  <head>
    <title>AJAX Call</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div id="title" class="title">Sign In</div>
        <div class="form">
          <div class="input">
            <input type="email" id="email" placeholder="Insert Your Email">
          </div>
          <div class="input">
            <input type="password" id="password" placeholder="Inser Your Password"> 
          </div>

          <div class="button">
            <button id="button">Login</button>  
          </div>
        </div>
      </div>
    </div>
    <script src="/jqueryPractice.js"></script>
  </body>
</html>
