<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { css: 'auth.css' }) %>
  </head>
  <body>
    <div id="app">
      <div class="container">

        <div id="title" class="title">Sign In</div>
        <div class="form">
          <div class="input">
            <input type="email" id="email" placeholder="Insert Your Email">
          </div>
          <div class="input">
            <input type="password" id="password" placeholder="Insert Your Password"> 
          </div>

          <div class="button">
            <button id="button">Login</button>
          </div>

          <div class="link">
            <a href="/register">Don't have account yet?</a>
          </div>

        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
